/* CORE STYLING*/
* {
    box-sizing: border-box;
}

a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

body {
    background-color: black;
}

h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
    font-family: Montserrat, sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color: white;
}

li {
    display: inline;
}

p {
    display: block;
    font-size: 1.1em;
    line-height: 2;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    color: white;
    font-family: Montserrat, sans-serif;
}

/* NAV STYLING */
header nav {
    position: fixed;
}

nav {
    margin-bottom: 0;
    background-color: #1f1f1f;
    z-index: 9999;
    width: 100%;
    font-family: Montserrat, sans-serif;
}

nav a {
    display: inline-block;
    padding: 25px 15px;
}

nav a:hover {
    background-color: #5f5f5f;
}

/* SECTION STYLING */
.section-container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 64px;
    width: 70%;
}

section {
    text-align: center;
    height: 100vh;
    min-height: 800px;
}

/* HOME STYLING */
#home {
    position: relative;
}

.about-background-img {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/max-duzij-qAjJk-un3BI-unsplash.jpg");
    opacity: 0.5;
    height: 100%;
}

.logo-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo-img {
    background-color: #1f1f1f;
    text-align: center;
    width: 400px;
    height: 80px;
}

#logo-img:hover {
    opacity: 0.7;
}

/* LOGO ANIMATION ON LOAD */
.logo-animate {
    animation: opac 2s;
}

@keyframes opac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ABOUT */
#about {}

.profile-img-parent {
    width: 300px;
    height: 300px;
    border-radius: 10rem;
    margin: auto;
    overflow: hidden;
}

.profile-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/BrandonFabianImage.jpg);
    transition: transform ease-out 1s;
}

.profile-img-parent:hover .profile-img,
.profile-img-parent:focus .profile-img {
    transform: scale(1.05);
    transition: all ease-in .3s;
    opacity: 0.7;
}

/* PROJECTS */
#projects {
    position: relative;
}

#projects h1 {
    margin-top: 2.5em;
}

.projects-background-img {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/markus-spiske-qjnAnF0jIGk-unsplash.jpg");
    opacity: 0.3;
    height: 100%;
}

#projects .section-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CONTACT */
#contact {
    height: 90vh;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #5f5f5f;
    color: white;
    padding: 12px 30px;
    margin-right: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #1f1f1f;
  }

  input[type=reset] {
    background-color: #1f1f1f;
    box-shadow: inset 0px 0px 0 1px #ffffff;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=reset]:hover {
    background-color:#5f5f5f;
    ;
  }
  
  .contact-form {
    border-radius: 15px;
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 5px 20px 20px;
    max-width: 750px;
    margin: 20px auto;
    text-align: left;
  }

/* FOOTER */
footer nav {
    text-align: center;
    width: 100%;
}

footer a {
    padding: 25px 25px;
}

@media only screen and (max-width: 800px) {
    header nav {
        text-align: center;
    }

    nav a {
        padding: 15px 5px;
    }

    p {
        font-size: .9rem;
    }

    section {
        min-height: 575px;
    }

    .section-container {
        width: 95%;
    }

    #logo-img {
        width: 300px;
        height: 60px;
    }

    .profile-img-parent {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
    .logo-center {
        top: 35%;
    }
}