/* CORE STYLING*/
* {
    box-sizing: border-box;
}

a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

body {
    background-color: #e0e0e0;
    text-align: center;
    font-family: Montserrat, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 100px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

p {
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 2;
    padding-top: 50px;
    font-family: Montserrat, sans-serif;
}

/* NAV STYLING */
header nav {
    position: fixed;
}

nav {
    margin-bottom: 0;
    background-color: #1f1f1f;
    z-index: 9999;
    width: 100%;
    font-family: Montserrat, sans-serif;
    text-align: left;
}

nav a {
    display: inline-block;
    padding: 25px 15px;
}

nav a:hover {
    background-color: #5f5f5f;
}

/* HOME STYLING */
#home {
    position: relative;
}

.about-background-img {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/max-duzij-qAjJk-un3BI-unsplash.jpg");
    opacity: 0.95;
    height: 100vh;
}

.logo-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo-img {
    background-color: #1f1f1f;
    text-align: center;
    width: 400px;
    height: 80px;
}

#logo-img:hover {
    opacity: 0.7;
}

/* LOGO ANIMATION ON LOAD */
.logo-animate {
    animation: opac 2s;
}

@keyframes opac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* ABOUT */
#about {
    padding: 100px 17%;
}

.profile-img-parent {
    width: 300px;
    height: 300px;
    border-radius: 10rem;
    margin: auto;
    overflow: hidden;
}

.profile-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(../images/BrandonFabianImage.jpg);
    transition: transform ease-out 1s;
}

.profile-img-parent:hover .profile-img,
.profile-img-parent:focus .profile-img {
    transform: scale(1.05);
    transition: all ease-in .3s;
    opacity: 0.7;
}

/* PROJECTS */
#projects {
    background-color: rgb(138, 146, 137);
    padding: 100px 8%;
}

#projects h1 {
    color: black;
}

.project-img {
    max-width: 400px;
    width: 80%;
    padding: 20px;
    transition: ease .4s;
}

.project-img:hover {
    -ms-transform: scale(1.07);
    /* IE 9 */
    -webkit-transform: scale(1.07);
    /* Safari 3-8 */
    transform: scale(1.07);
}

/* CONTACT */
#contact {
    padding: 100px 17%;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
}

input[type=submit] {
    background-color: #5f5f5f;
    color: white;
    padding: 12px 25px;
    margin: 10px 30px 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #1f1f1f;
}

input[type=reset] {
    background-color: #1f1f1f;
    box-shadow: inset 0px 0px 0 1px #ffffff;
    color: white;
    padding: 12px 25px;
    margin: 10px 30px 0 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]:hover {
    background-color: #5f5f5f;
    ;
}

.contact-form {
    border-radius: 15px;
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 5px 20px 20px;
    max-width: 750px;
    margin: 20px auto 0;
    text-align: left;
}

.contact-form p {
    padding-top: 10px;
}

/* FOOTER */

footer nav {
    text-align: center;
    width: 100%;
    padding: 50px 25px 100px;
}

@media only screen and (max-width: 800px) {
    header nav {
        text-align: center;
    }

    nav a {
        padding: 15px 5px;
    }

    footer nav{
        padding: 30px 25px 75px; 
    }

    h1{
        padding-bottom: 75px;
    }

    p {
        font-size: .9rem;
    }

    #logo-img {
        width: 300px;
        height: 60px;
    }

    .profile-img-parent {
        width: 200px;
        height: 200px;
    }

    .project-img {
        padding: 10px;
    }

    #projects{
        padding: 75px 5%;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
    .logo-center {
        top: 35%;
    }
}